<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="#" class="brand">ASL Salon</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Contact', pages_contact_path %></li>
          <li><%= link_to 'Lash Care', pages_lashcare_path %></li>
          <li><%= link_to 'FAQs', pages_faqs_path %></li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Services & Pricing <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Hair Services <i class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li><a href="#">Cut</a></li>
                  <li><a href="#">Color</a></li>
                  <li><a href="#">Wax</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Eyebrows</li>
                  <li><a href="#">Color</a></li>
                  <li><a href="#">Wax</a></li>
                </ul>
              </li>
              <li><a href="#">Nails</a></li>
              <li><a href="#">Waxing</a></li>
              <li class="divider"></li>
              <li class="nav-header">Lashes</li>
              <li><a href="#">Full Set</a></li>
              <li><a href="#">Fill</a></li>
            </ul>
          </li>
        </ul>
        <!-- <form action="" class="navbar-search pull-left">
          <input type="text" placeholder="Search" class="search-query span2">
        </form> -->
        <ul class="nav pull-right">
          <li><%= link_to 'Products', products_path %></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <%= link_to 'aslsalon@gmail.com', root_path %>
          </li>
        </ul>
      </div>
      <!-- /.nav-collapse -->
    </div>
  </div>
</div>