<div class='container'>
  <h1>Products</h1>

  
  <div class='product-index'>
    <% @products.each do |product| %>
      <div class='row'>
        <div class="product-item" style="background-image: url(<%= product.image%>)">
        
          <div class="prod-title">
            <p><%= link_to "#{product.title}", product %></p>
          </div>

          <div class="prod-brand">
            <p><%= product.brand %></p>
          </div>

          <div class="prod-price">
            <p><%= "#{'$%.2f' % product.price}" %></p>
          </div>
       
        </div>
      </div>
    <% end %>
  </div>
  

  <%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
</div>

